<body>
   <u><h2 class="heading text-center" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">WELCOME TO UNION !!!</h2></u>
   <p style="padding-top:2%;">           Social media facilitates the sharing of ideas and information through virtual networks. From Facebook and Instagram to Twitter and YouTube, social media covers a broad universe of apps and platforms that allow users to share content, interact online, and build communities. More than 4.7 billion people use social media, equal to roughly 60% of the world's population.
</p>
    <p>Today, social media messaging apps and platforms are the most commonly used sites worldwide. In early 2023, 94.8% of users accessed chat and messaging apps and websites, followed closely by social platforms, at 94.6% of users. 
    
    More than 4.7 billion people around the world use social media.
  
    Social media originated as a way to interact with friends and family but soon expanded to serve many purposes. </p>
    <h5 style="font-size: larger;font-weight: 700;">UNION:</h5>
    <p>It is one the Social media website, that we introduce you to be in contact with your friends and family.</p>
    <h6>Features:</h6>
    <ul>
        <li>Chat with your friends</li>
        <li>Share stories</li>
        <li>Post pictures</li>
        <li>Follow and unfollow people as you wish</li>
    </ul>
    <hr>
    <p>For any Queries, please contact us thought</p>
    <p>Help-line Centers:1234567890, 0987643213</p>
    <p>Mail us: Union@gmail.com</p>
    <hr>
   </body>
